<h1>New Article</h1>

<%= form_with modl: @article do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <!--Com nossas 'validations' em vigor, vamos modificar 'app/views/articles/new.html.erb' para exibir qualquer mensagem de erro para 'title' e 'body': -->
        <% @article.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>    
    </div>

    <div>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
        <% @article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
